@font-face {
  font-family: 'Manrope-Bold';
  src: url("../fonts/Manrope-Bold.ttf") format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url("../fonts/Manrope-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url("../fonts/Manrope-Regular.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
}