@import "variables";

.js-menu-scrolled {
  background-color: #fff;
  top: 0 !important;
  padding: 20px 0;
  .nav-phone_link {
    display: none;
  }
  .nav-button_btn {
    height: 50px;
    line-height: 50px;
    font: 16px $main-font-semi-bold
  }
}

.js-menu-into {
  top: 45px !important;
  width: 45% !important;
  left: 28% !important;
  .nav_list {
    display: flex;
    justify-content: space-between;
    &-link {
      font: 14px $main-font-semi-bold;
    }
  }

}