@import "~normalize.css";
@import "variables";
@import "fonts";
@import "js-styles";

@mixin flex() {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin sectionTitle() {
  font: 52px $main-font-bold;
  line-height: 63px;
  color: $primary-color;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.section_inner {
  max-width: 1386px;
  margin: 0 auto;
  position: relative;
}

.dp_n_desc {
  display: none;
}

.dp_b_mobile {
  display: none;
}

.nav {
  &-wrapper {
    max-width: 1386px;
    margin: 0 auto;
  }
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  &._top {
    top: 46px;
  }
  &._top &-wrapper,
  &-logo {
    @include flex()
  }
  &._bottom {
    top: 145px;
  }
  &-logo_text {
    color: $theme-color;
    font: 24px $main-font-bold;
    margin-left: 20px;

    &_bottom {
      display: block;
      font: 12px $main-font-regular;
      color: $primary-color;
    }
  }
  &-phone {
    margin-left: auto;
    &_link {
      font: 18px $main-font-semi-bold;
      color: $primary-color;
      text-decoration: none;
    }
  }
  &-button {
    margin-left: 50px;
    &_btn {
      padding: 0 40px;
      height: 65px;
      background-color: $theme-color;
      border-radius: 10px;
      line-height: 65px;
      text-align: center;
      font: 18px $main-font-semi-bold;
      color: #fff;
      border: none;
    }
  }
  &_list {
    list-style: none;
    @include flex();
    justify-content: space-between;
    &-item {
      &._phone {
        display: none;
      }
    }
    &-link {
      &._phone {
        display: none;
      }
    }
    &-link {
      font: 17px $main-font-semi-bold
    }
  }
  &-mobilemenu{
    &_btn {
      width: 50px;
      height: 50px;
      border: 2px solid $theme-color;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      margin-right: 25px;
      padding: 16px 0;
    }
    &_line {
      width: 17px;
      height: 2px;
      background-color: #1a1a1a;
      border-radius: 2px;
    }
  }
}
.header {
  height: 880px;
  padding-top: 175px;
  position: relative;
  .section_inner {
    z-index: 3;
  }
  &-image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  &-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      right: -100px;
      top: 0;
      border-top: 440px solid transparent;
      border-left: 100px solid #fff;
      border-bottom: 440px solid transparent;
    }
  }
  &-title {
    @include sectionTitle();
    &._wrapper {
      margin-top: 75px;
      max-width: 725px;
    }
    &_income {
      color: #fff;
      background-color: #b3b3b3;
      padding: 0 5px;
    }
    &_break {
      display: none;
    }
  }
  &-text {
    font: 20px $main-font-regular;
    color: $secondary-color;
    letter-spacing: 0.03em;
    &._wrapper {
      margin-top: 65px;
      max-width: 495px;
    }
  }
  &-widget {
    width: 350px;
    height: 260px;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    transform: translate(190%, -65%);
    z-index: 4;
    overflow: hidden;
    &::after,
    &::before {
      content: '';
      position: absolute;
      border-left: 0 solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      top: 0;
      width: 112px;
    }
    &::after {
      border-bottom: 28px solid #b3b3b3;
      left: -5px;
      z-index: 5;
    }
    &::before {
      content: '';
      position: absolute;
      border-bottom: 28px solid #F4F4F4;
      height: 0;
      left: -25px;
      z-index: 6;
    }
    &_inner {
      height: 238px;
      background-color: #F4F4F4;
      border-radius: 0 10px 10px 10px;
      position: relative;
      bottom: -28px;
    }
    &_logo {
      position: absolute;
      left: 28px;
      top: 28px;
      z-index: 6;
    }
    &_link {
      @extend .nav-button_btn;
      position: relative;
      top: 60px;
      display: block;
      width: 285px;
      height: 80px;
      line-height: 80px;
      margin: 0 auto;
    }
    &_text {
      position: relative;
      text-align: center;
      color: $primary-color;
      font: 16px $main-font-medium;
      letter-spacing: 0.02em;
      opacity: .6;
      margin-top: 80px;
    }
  }
}

.reliable {
  padding-top: 140px;
  &-content {
    @include flex();
    > div {
      flex: 0 0 50%;
    }
  }
  &-title {
    @include sectionTitle;
    ._red {
      color: $theme-color;
    }
  }
  &-text {
    font: 24px $main-font-regular;
    letter-spacing: 0.01em;
    &._wrapper {
      padding-left: 155px;
      align-self: flex-start;
    }
    ._gray {
      color: rgba(12, 12, 12, 0.5);
    }
  }
}

.benefits {
  padding-top: 140px;
  height: 1340px;
  &-content {
    position: relative;
    &_item {
      padding: 15px;
      position: absolute;
      &-body {
        position: absolute;
        left: 0;
        top: 0;
        padding: 50px 140px 50px 60px;
        width: 100%;
      }
      &-title {
        font: 34px $main-font-bold;
        color: $primary-color;
        letter-spacing: -0.01em;
        &._red {
          color: $theme-color
        }
      }
      &-text {
        margin-top: 25px;
        font: 17px $main-font-regular;
        color: $secondary-color;
      }
      &:nth-child(1) {
        left: 0;
        top: 0;
        width: 678px;
        height: 447px;
        margin-right: 30px;
      }
      &:nth-child(2) {
        right: -70px;
        top: 0;
        width: 766px;
        height: 370px;
        &-text {
          width: 550px;
        }
      }
      &:nth-child(3) {
        left: 0;
        top: 250px;
        width: 580px;
      }
      &:nth-child(3) &-body{
        @include flex();
        justify-content: space-between;
        padding-right: 0;
      }
      &:nth-child(3) &-text{
        width: 213px;
        align-self: flex-end;
        margin-bottom: 40px;
        font: 20px $main-font-medium;
      }
      &-scale {
        text-align: center;
        width: 84px;
        border-radius: 18px;
        align-self: flex-end;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 7px;
          height: 32px;
          background-color: #e6e6e6;
          right: -7px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
        &-value {
          font: 34px $main-font-medium;
          line-height: 41px;
          color: $primary-color;
          .unit {
            display: block;
            font: 18px $main-font-medium;
            color: $primary-color;
          }
        }
        &-year {
          font: 18px $main-font-medium;
          color: $primary-color;
          position: absolute;
          width: 100%;
          text-align: center;
          left: 0;
          bottom: -30px;
        }
        &:nth-child(2) {
          height: 175px;
          background-color: #e6e6e6;
          padding-top: 80px;
          &:after {
            top: 27px;
          }
        }
        &:nth-child(3) {
          height: 250px;
          background-color: #e6e6e6;
          padding-top: 155px;
          &:after {
            top: 40px;
          }
        }
        &:nth-child(4) {
          height: 360px;
          padding-top: 262px;
          border: 2px dashed #DF2707;
          background-color: rgba(223, 39, 7, 0.1);
          &:after {
            top: 80px;
            background-color: $theme-color;
          }
        }
      }
      &:nth-child(4) {
        right: -70px;
        top: 340px;
        width: 849px;
        height: 375px;
      }
      &:nth-child(4) &-body{
        padding: 75px 110px;
      }
      &:nth-child(4) &-text{
        width: 550px;
      }
      &:nth-child(5) {
        left: 0;
        top: 770px;
        width: 678px;
        height: 360px;
      }
      &:nth-child(6) {
        right: -70px;
        top: 740px;
        width: 767px;
        height: 380px;
      }
      &:nth-child(6) &-body{
        top: 30px;
      }
      &:nth-child(6) &-text {
        &._gray {
          font: 14px $main-font-regular;
          opacity: .6;
          color: $secondary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .section_inner {
    max-width: 1200px;
  }
  .reliable{
    &-title {
      font: 42px $main-font-bold;
      line-height: 48px;
    }
    &-text {
      &._wrapper{
        padding-left: 35px;
      }
    }
  }
  .benefits {
    height: 1200px;
    &-content {
      &_item {
        &-body {
          padding: 50px 60px 50px 60px;
        }
        &:nth-child(1) {
          width: 565px;
          height: 375px;
        }
        &:nth-child(2) {
          right: 0;
          width: 645px;
          height: 320px;
        }
        &:nth-child(3) {
          top: 210px;
          width: 475px;
        }
        &:nth-child(3) &-text {
          width: 170px;
          font: 16px $main-font-medium;
        }
        &-scale {
          width: 70px;
          &-value {
            font: 24px $main-font-medium;
          }
          &:nth-child(2) {
            height: 135px;
          }
          &:nth-child(3) {
            height: 210px;
          }
          &:nth-child(4) {
            height: 320px;
          }
        }
        &:nth-child(4) {
          top: 282px;
          right: 10px;
          width: 700px;
          height: 325px;
        }
        &:nth-child(4) &-text {
          width: 500px;
        }
        &:nth-child(5) {
          top: 615px;
          width: 565px;
        }
        &:nth-child(6){
          right: 0;
          top: 595px;
          width: 645px;
        }
      }
    }
  }
}

@media screen and (max-width: 1210px){
  .section_inner {
    max-width: 680px;
  }
  .dp_n_tablet {
    display: none;
  }
  .dp_n_desc {
    display: block;
  }
  .nav {
    &-wrapper {
      max-width: 680px;
    }
    &-phone {
      &_link {
        font: 16px $main-font-semi-bold;
      }
    }

    &._top {
      background-color: #fff;
      position: fixed;
      width: 100%;
      padding: 23px 40px;
      left: 0;
      top: 0;
      z-index: 22;
    }
    &_list {
      position: fixed;
      left: 0;
      top: 105px;
      width: 100%;
      padding: 0 40px 80px;
      background-color: #fff;
      margin: 0;
      flex-direction: column;
      align-items: flex-start;
      z-index: 22;
      display: none;
      &-item {
        margin-top: 50px;
        &:first-child {
          margin-top: 20px;
        }
      }
      &-link {
        &._phone {
          display: block;
          margin-top: 80px;
          font: 22px $main-font-semi-bold;
        }
      }
    }
    &-mobilemenu {
      &_btn {
        display: flex;
      }
    }
    &-button {
      margin-left: 20px;
      &_btn {
        padding: 0 28px;
        height: 50px;
        line-height: 50px;
        font: 16px $main-font-semi-bold;
      }
    }
    &-logo {
      &_image {
        svg {
          width: 52px;
        }
      }
      &_text {
        margin-left: 15px;
        font: 18px $main-font-bold;
        &_bottom {
          font: 9px $main-font-regular;
        }
      }
    }
  }
  .header {
    height: 570px;
    padding-top: 115px;
    &-image {
      top: 109px;
    }
    &-arrow{
      width: 58%;
      height: 460px;
      top: 111px;
      &:before {
        border-bottom: 230px solid transparent;
        border-top: 230px solid transparent;
      }
    }
    &-title{
      font: 30px $main-font-bold;
      line-height: 36px;
      &._wrapper {
        margin-top: 65px;
        max-width: 435px;
      }
    }
    &-text {
      font: 12px $main-font-regular;
      line-height: 20px;
      &._wrapper {
        max-width: 315px;
        margin-top: 35px;
      }
    }
    &-widget {
      width: 260px;
      height: 170px;
      transform: translate(0, 20%);
      &:before {
        border-bottom-color: #e8e7e7;
        left: -35px;
      }
      &:after {
        left: -15px;
      }
      &_logo {
        top: 15px;
        svg {
          width: 30px;
        }
      }
      &_inner {
        height: 165px;
        background-color: #e8e7e7;
      }
      &_link {
        width: 215px;
        font: 14px $main-font-semi-bold;
        top: 40px;
      }
      &_text {
        font: 12px $main-font-medium;
        margin-top: 50px;
      }
    }
  }
  .reliable {
    padding-top: 155px;
    &-content {
      > div {
        flex: 0 0 100%;
      }
    }
    &-title {
      font: 35px $main-font-bold;
      line-height: 42px;
    }
    &-text {
      font: 18px $main-font-regular;
      &._wrapper {
        padding-left: 0;
        margin-top: 55px;
        max-width: 420px;
      }
    }
  }
  .benefits {
    padding-top: 60px;
    &-content {
      &_item {
        &-title {
          font: 30px $main-font-bold;
        }
        &-text {
          font: 14px $main-font-regular;
        }
        &:nth-child(1) {
          margin: 0;
          width: 100%;
          height: 340px;
        }
        &:nth-child(1) &-body {
          padding: 70px 60px 0 60px;
        }
        &:nth-child(2) {
          top: 240px;
          right: auto;
          left: 0;
          width: 100%;
        }
        &:nth-child(2) &-body {
          padding-top: 145px;
        }
        &:nth-child(3) {
          top: 850px;
          width: 100%;
          z-index: 5;
        }
        &:nth-child(3) &-body {
          padding-right: 45px;
        }
        &:nth-child(3) &-text {
          width: 230px;
          font: 20px $main-font-medium;
        }
        &-scale {
          width: 84px;
          &:nth-child(2) {
            height: 165px;
          }
          &:nth-child(3) {
            height: 250px;
          }
          &:nth-child(4) {
            height: 360px;
          }
        }
        &:nth-child(4) {
          top: 600px;
          width: 105%;
          height: 360px;
          right: 0;
        }
        &:nth-child(4) &-body {
          padding: 125px 0 0 95px;
        }
        &:nth-child(5) {
          top: 1330px;
          width: 105%;
        }
        &:nth-child(5) &-body {
          padding: 105px 60px 0 60px;
        }
        &:nth-child(6) {
          top: 1675px;
          width: 110%;
          right: -35px;
        }
        &:nth-child(6) &-text {
          &._gray {
            font: 12px $main-font-regular;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .dp_b_mobile {
    display: block;
  }
  .dp_n_desc {
    display: none;
  }
  .dp_n_tablet {
    display: none;
  }
  .section_inner {
    max-width: 320px;
    padding: 0 25px;
  }
  .nav {
    &._top {
      padding: 20px 25px;
    }
    &-logo {
      &_text {
        display: none;
      }
    }
    &-phone {
      display: none;
    }
    &-mobilemenu_btn {
      margin-right: 10px;
    }
    &-button {
      margin-left: auto;
      &_btn {
        padding: 0 15px;
        font: 12px $main-font-semi-bold;
      }
    }
  }
  .header {
    height: 1200px;
    overflow-x: hidden;
    &-arrow {
      width: 100%;
      height: 700px;
      top: 105px;
      &:before {
        border-left: 100px solid transparent;
        border-right: 285px solid transparent;
        border-top: 45px solid #fff;
        bottom: -275px;
        top: auto;
        right: auto;
        left: 0;
      }
    }
    &-title {
      font: 25px $main-font-bold;
      line-height: 30px;
      &_break {
        display: block;
      }
    }
    &-image {
      top: 735px;
    }
    &-widget {
      left: 50%;
      transform: translate(-50%, 20%);
    }
  }
  .reliable {
    padding-top: 65px;
    &-title {
      font: 26px $main-font-bold;
      line-height: 32px;
    }
    &-text {
      font: 16px $main-font-regular;
      &._wrapper {
        margin-top: 15px;
      }
    }
  }
  .benefits {
    .section_inner {
      padding: 0;
    }
    &-content {
      &_item {
        padding: 0;
        &-title {
          font-size: 20px;
        }
        &-text {
          font: 12px $main-font-regular;
          margin-top: 20px;
        }
        &-body {
          padding: 0;
        }
        &:nth-child(1) {

        }
        &:nth-child(1) &-body {
          padding: 65px 25px;
        }
        &:nth-child(2) {
          top: 250px;
        }
        &:nth-child(2) &-body {
          padding: 110px 25px 0;
        }
        &:nth-child(3) {

        }
        &:nth-child(3) &-body {
          padding: 0 25px;
        }
        &:nth-child(3) &-text {
          width: 100%;
          padding: 0 35px 0 0;
        }
        &-scale {
          width: 77px;
        }
        &:nth-child(4) {
          width: 100%;
          top: 575px;
          left: 0;
        }
        &:nth-child(4) &-body {
          padding: 50px 25px;
        }
        &:nth-child(4) &-text {
          width: 100%;
        }
        &:nth-child(5) {
          width: 100%;
          left: 0;
          top: 1425px;
        }
        &:nth-child(5) &-body {
          padding: 45px 25px;
        }
        &:nth-child(6) {
          top: 1680px;
          width: 100%;
          left: 0;
        }
        &:nth-child(6) &-body {
          padding: 60px 25px;
        }
      }
    }
  }
}
