//colors
$primary-color: #171717;
$secondary-color: #0c0c0c;
$theme-color: #df2707;

//fonts
$main-font-regular: 'Manrope-Regular', sans-serif;
$main-font-bold: 'Manrope-Bold', sans-serif;
$main-font-semi-bold: 'Manrope-SemiBold', sans-serif;
$main-font-medium: 'Manrope-Medium', sans-serif;